<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Otp-verify</title>

  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>Login </span>From</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Jaxl Innovation</h3>
       
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form method="POST" action="send" >
          <p>
            <label>Firstname</label>
            <input type="text" name="firstname" required>
          </p>
          <p>
            <label>Lastname</label>
            <input type="text" name="lastname" required>
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email" required>
          </p>
         
         
          <p class="full">
            <button type="submit">Request-OTP</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>